.App {
  text-align: center;
  position: sticky;
}


.App-logo {
  height: 50px;
  pointer-events: none;
  margin-left: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
